<div [clrLoading]="loading">
  <clr-dg-row-detail [clrDgReplace]="true">
    <!-- TODO: create styles for this. extract -->
    <div class="clr-row" style="padding: .55rem .6rem .55rem; width: 100%;">
      <div class="clr-col-12 clr-col-md-3">
        <img [src]="user.avatar_url" [style.maxWidth.px]="150" />
      </div>

      <div class="clr-col-12 clr-col-md-9">
        <!-- TODO: create styles for this. extract -->
        <ng-container *ngIf="(errored$ | async) as errored">
          <clr-alert [clrAlertType]="'danger'" style="margin-bottom: 1rem;" *ngIf="errored">
            <clr-alert-item>
              <span class="alert-text">Fetching user details failed.</span>
            </clr-alert-item>
          </clr-alert>
        </ng-container>

        <!-- TODO: create styles for this. extract -->
        <dl class="clr-row" style="margin-top: 0;" *ngIf="(info$ | async) as user">
          <ng-container *ngIf="!!user?.name">
            <dt class="clr-col-sm-3">Name</dt>
            <dd class="clr-col-sm-9">{{ user?.name }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.location">
            <dt class="clr-col-sm-3">Location</dt>
            <dd class="clr-col-sm-9">{{ user?.location }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.company">
            <dt class="clr-col-sm-3">Company</dt>
            <dd class="clr-col-sm-9">{{ user?.company }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.bio">
            <dt class="clr-col-sm-3">Bio</dt>
            <dd class="clr-col-sm-9">{{ user?.bio }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.blog">
            <dt class="clr-col-sm-3">Blog</dt>
            <dd class="clr-col-sm-9">
              <a rel="noreferrer noopener" target="_blank" [href]="user?.blog | url">{{ user?.blog }}</a>
            </dd>
          </ng-container>

          <ng-container *ngIf="!!user?.stars">
            <dt class="clr-col-sm-3">Star Count</dt>
            <dd class="clr-col-sm-9">{{ user?.stars }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.followers">
            <dt class="clr-col-sm-3">Follower Count</dt>
            <dd class="clr-col-sm-9">{{ user?.followers }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.public_gists">
            <dt class="clr-col-sm-3">Public Gists Count</dt>
            <dd class="clr-col-sm-9">{{ user?.public_gists }}</dd>
          </ng-container>
        </dl>
      </div>
    </div>
  </clr-dg-row-detail>
</div>


