<div [clrLoading]="loading">
  <clr-dg-row-detail [clrDgReplace]="true">
    <div class="clr-row row-detail">
      <div class="clr-col-12 clr-col-md-3">
        <img class="user-avatar" [src]="user.avatar_url" />
      </div>

      <div class="clr-col-12 clr-col-md-9">
        <ng-container *ngIf="(errored$ | async) as errored">
          <clr-alert [clrAlertType]="'danger'" class="mb-3" *ngIf="errored">
            <clr-alert-item>
              <span class="alert-text">Fetching user details failed.</span>
            </clr-alert-item>
          </clr-alert>
        </ng-container>

        <dl class="clr-row mt-0" *ngIf="(info$ | async) as user">
          <dt class="clr-col-sm-3">Name</dt>
          <dd class="clr-col-sm-9">{{ user?.name | defaultValue:'N/A' }}</dd>

          <dt class="clr-col-sm-3">Location</dt>
          <dd class="clr-col-sm-9">{{ user?.location | defaultValue:'N/A' }}</dd>

          <dt class="clr-col-sm-3">Company</dt>
          <dd class="clr-col-sm-9">{{ user?.company | defaultValue:'N/A' }}</dd>

          <ng-container *ngIf="!!user?.bio">
            <dt class="clr-col-sm-3">Bio</dt>
            <dd class="clr-col-sm-9">{{ user?.bio }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.blog">
            <dt class="clr-col-sm-3">Blog</dt>
            <dd class="clr-col-sm-9">
              <a rel="noreferrer noopener" target="_blank" [href]="user?.blog | url">{{ user?.blog }}</a>
            </dd>
          </ng-container>

          <ng-container *ngIf="!!user?.stars">
            <dt class="clr-col-sm-3">Star Count</dt>
            <dd class="clr-col-sm-9">{{ user?.stars }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.followers">
            <dt class="clr-col-sm-3">Follower Count</dt>
            <dd class="clr-col-sm-9">{{ user?.followers }}</dd>
          </ng-container>

          <ng-container *ngIf="!!user?.public_gists">
            <dt class="clr-col-sm-3">Public Gists Count</dt>
            <dd class="clr-col-sm-9">{{ user?.public_gists }}</dd>
          </ng-container>
        </dl>
      </div>
    </div>
  </clr-dg-row-detail>
</div>


