<clr-datagrid (clrDgRefresh)="refreshDataGrid($event)" [clrDgLoading]="loading">
  <clr-dg-column [clrDgField]="'login'">Username</clr-dg-column>

  <clr-dg-placeholder>We couldn't find any users!</clr-dg-placeholder>

  <clr-dg-row *ngFor="let user of (user$ | async); trackBy: trackByUser">
    <clr-dg-cell>{{ user.login }}</clr-dg-cell>
    <tdgh-user-detail [user]="user" ngProjectAs="clr-dg-row-detail" *clrIfExpanded></tdgh-user-detail>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination [clrDgPage]="page"
      [clrDgPageSize]="perPage"
      [clrDgTotalItems]="totalItem$ | async"
      #pagination>
      <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Users per page</clr-dg-page-size>
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }}
      of {{ pagination.totalItems }} users
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>


