<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <h1 class="clr-hidden-xs-up">GH User Search</h1>
      <a routerLink="/" class="nav-link">
        <span class="title clr-hidden-xs-down">GH User Search</span>
        <span class="title clr-hidden-sm-up">GH</span>
      </a>
    </div>

    <form class="search" (submit)="false">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for users..." (keyup)="onSearch($event)" />
      </label>
    </form>
  </clr-header>

  <div class="content-container">
    <main class="content-area" role="main">
      <router-outlet></router-outlet>
    </main>
  </div>
</clr-main-container>


